* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    width: 200px;
    height: 200px;
    background: aqua;
}

.cambio1 {
    width: 500px;
    height: 500px;
    background: red;
}

.padre {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.miniCaja {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.color {
    background: pink;
}