@import 'calculadora.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.formContact {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.button-style {
    width: 100%;
    height: auto;
}

.camposForm {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

div.camposForm>label {
    margin-bottom: 10px;
}

.alert {
    background-color: rgb(214, 155, 155);
}

.mensaje-alerta {
    font-size: 15px;
    color: red;
    margin-top: 5px;
}